#textdomain wesnoth-Ultimate_Random_Maps

#define URM_MAP_GENERATOR_Ocean MAP_WIDTH MAP_HEIGHT ITERATIONS PLAYERS CASTLE_SIZE
    {MAP_DIMENSIONS {MAP_WIDTH} {MAP_HEIGHT}}
    {PLAYERS_CASTLE_SIZE_VILLAGES {PLAYERS} {CASTLE_SIZE} 25}
    {HILL_ITER_AND_SIZE {ITERATIONS} 4 0}

    {TEMP_ITER_AND_SIZE 2000 4}

    {NO_LAKES_AND_RIVERS}

    {ROADS_AND_WINDINESS 4 10}

    # Cave Wall, Cave Hills, Cave, & Chasm
    {HEIGHT 800 Mm}
    {HEIGHT 600 Hh}
    {HEIGHT 440 Gs}
    {HEIGHT 200 Wwt}
    {HEIGHT 000 Wot}

    # Costal Reef at warmer temps
    {CONVERT_TEMP 400 1000 (Wwt, Wot) Wwrt}

    # Beach Sand at hot temps
    {CONVERT_TEMP 400 1000 (Gs) Ds}

    # Tropical Forest at warmer temps
    {CONVERT_TEMP 200 400 (Gs) Gs^Ftp}

    # Swamp at cooler temps
    {CONVERT_TEMP 0 80 (Gs) Ss}

    # Road costs
    # Shallow water terrain ensures some passability for many units
    {ROAD_COST Wot  05 Wwt}
    {ROAD_COST Wwrt 05 Wwt}
    {ROAD_COST Gs   05 Wwt}
    {ROAD_COST Wwt  05 Wwt}

    # Villages
    # Mermen villages
    {VILLAGES Wwt  Wwt^Vm 8 ()}
    {VILLAGES Wwrt Wwt^Vm 8 ()}

    # Other villages
    {VILLAGES Gs    Gs^Vc  8 ()}
    {VILLAGES Gs^Ftp Gs^Vht 8 ()}
    {VILLAGES Ss    Ss^Vhs 8 ()}
    {VILLAGES Hh    Hh^Vc  8 ()}

    {CASTLE 12 (Wwt, Wwrt, Wot)}
#enddef

#define URM_MAP_EVENTS_Ocean
    {DEFAULT_MUSIC_PLAYLIST}
    {DEFAULT_SCHEDULE}

    [event]
        name=prestart
        {SCATTER_EMBELLISHMENT Wot ^Qov 3}
        [item]
            terrain=Wot^Qov
            image=scenery/whirlpool.png
        [/item]
        # Ocean map should have aquatic castles
        {REPLACE_TERRAIN Ch Cm}
        {REPLACE_TERRAIN Kh Km}
    [/event]
#enddef
